<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <b class="navbar-brand" href="#">IBA. /My job/</b>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">About me</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Resume</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Links</a>
          </li>
      </ul>
  </div>
  <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">datetime</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">Registrate</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Log in</a>
          </li>
      </ul>
  </div>
</nav>