
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <b class="navbar-brand" href="#">IBA. /My job/</b>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/work">Bank</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/resume">Resume</a>
          </li>
      </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#authModal"> Authorization </button>
          </li>
          <li class="nav-item">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#registrModal"> Rigistration </button>
          </li>
      </ul>
  </div>
</nav>


<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Authorization</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="col-form-label">Login:</label>
                  <input type="text" [(ngModel)] = "authLog" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Password:</label>
                    <input type="password" [(ngModel)] = "authPass" [ngModelOptions]="{standalone: true}" class="form-control">
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click) = "auth()">Enter</button>
            </div>
          </div>
        </div>
      </div>


<div class="modal fade" id="registrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="col-form-label">Login:</label>
                  <input type="text" [(ngModel)] = "regLog" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Password:</label>
                  <input type="password" [(ngModel)] = "regPass" [ngModelOptions]="{standalone: true}" class="form-control">
                  </div>
                <div class="form-group">
                  <label class="col-form-label">Repeat password:</label>
                  <input type="password" [(ngModel)] = "regRepPass" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click) = "registr()">Enter</button>
            </div>
          </div>
        </div>
      </div>

