<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">
       
    <form class="form-horizontal" role="form">
        <fieldset>
        <legend>Youre job at Bank System</legend>
         
            <!--- Id Block --->
            <div class="form-group">
              <label>Youre id: </label>
              <label>{{staticInputId}}</label>
            </div>
             
            <!--- Select operation Block --->
            <div class="form-group">
              <label for="select">Operation</label>
                <select id="select" [(ngModel)]="selectOption" [ngModelOptions]="{standalone: true}">
                  <option>Put</option>
                  <option>Take</option>
                  <option>Transact</option>
                  <option>Print</option>
                </select>
            </div>
            
            <!--- Other Id for Transact Block --->
            <div class="form-group">
              <label for="money">Money</label>
              <input type="text" [(ngModel)]="money" [ngModelOptions]="{standalone: true}" placeholder=" Money (int value)">
            </div>

            <!--- Other Id for Transact Block --->
            <div class="form-group">
              <label for="inputOtherId">Enter other id</label>
              <input type="text" [(ngModel)]="inputOtherId" [ngModelOptions]="{standalone: true}" placeholder=" other id (int value)">
            </div>

            <!--- Buttons Block --->
            <div class="form-group">
              <button type="reset" class="btn btn-secondary"(click) = "clearData()"> Clear and exit </button>
              <button type="submit" class="btn btn-primary" (click) = "send()"> Enter </button>
            </div>
            <br>
            <!--- Output Block --->
            <div class="form-group">
              <label>Output:</label>
              <br>
              <label> {{cash}} </label>
            </div>
        </fieldset>
    </form>
  </div>
</div>