<div id="resume">

  <div id="me">
    <h2>Биркос Владислав</h2>
    <img src="../../assets/me.jpeg">
  </div>

  <div id="contacts">
      <h6>18.02.1997</h6>
      <h6>Минск. Уручье</h6>
      <h6>+375 (29) 119-07-74 Velcom</h6>
      <h6>vladikbirkos@yandex.ru</h6>
      <a href="https://github.com/dirtwitcher"> GitHub </a>
      <a href="https://vk.com/im?peers=133929451"> VKontakte </a>
  </div>
      
  <div id="info1">
      <h4> Опыт работы </h4>
      <h6> МЦТ. Старший инспектор. Поддержка, разработка ПО. 12.2017 - 12. 2018</h6>
      <h6> ОДО "Компания 5". Дипломная практика. 02.2016 - 05.2016</h6>
  </div>
    
  <div id="info2">   
      <h4> Обо мне </h4>
      <h6> Поддержка ПО Delphi + Firebird; </h6> 
      <h6> Разработка программного комплекса Delphi + Oracle; </h6>
      <h6> Java core самообучение </h6>
  </div>
       
  <div id="info3">
      <h4> Неоконченное высшее образование </h4>
      <h6> 2020 ИИТ БГУИР (вечернее, сокращенное)</h6>
      <h6> Факультет Компьютерных Технологий, Программное обеспечение информационных технологий </h6>
          
      <h6> 2016 Минский Колледж Предпринимательства
           Программное обеспечение информационных технологий </h6>
  </div>

  <div id="info4">
      <h4> Знание языков</h4>
      <h6> Русский — Родной </h6>
      <h6> Английский — B1 — Средний </h6>
  </div>
  
</div>
